.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  margin-top: 3rem;
  min-width: 300px;
}

.form-container .form-row {
  display: flex;
  justify-content: space-between;
}

.form-container .form-row .input-group label {
  font-size: large;
  display: block;
  line-height: 2rem;
}

.form-container .form-row .input-group {
  margin: 0 1rem;
}

.form-container .form-row .input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.form-container .form-row .input-group p {
  font-size: 14px;
  word-wrap: break-word;
  margin: 0;
  color: #bf1650;
}

.form-container .form-row .input-group p::before {
  display: inline;
  content: "⚠ ";
}

.form-container .submit-button {
  margin-top: 1rem;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-container .submit-button:hover {
  background-color: #45a049;
}

@media (max-width: 500px) {
  .form-container form {
    margin-top: 3rem;
    min-width: 300px;
    max-width: 400px;
  }

  .form-container .form-row {
    display: block;
  }
}