header {
    border-bottom: 1px #bcc2ca solid;
    padding: 5vh;
    position: relative;
    box-sizing: border-box;
    height: 10vh;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
    margin-left: 2vw;
}

header a:hover {
    text-decoration: underline;
}